<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admanage">

    <!--地图包、搜索包需要的基础权限-->
    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--&lt;!&ndash;允许程序设置内置sd卡的写权限&ndash;&gt;
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--//定位包、导航包需要的额外权限（注：基础权限也需要）-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_config"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="cb14a4b86fda1719843af6dfa910cff2"/>

        <service
            android:name="com.amap.api.location.APSService">
        </service>

        <activity
            android:name=".system_login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>

                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="relogin"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".system_main.ADSysActivity"
            android:label="@string/app_name">
            <intent-filter>
                <!--<action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />-->
                <action android:name="managesys"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".system_main.ADActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="adactivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".system_main.UserActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="useractivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".system_main.UserListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="userlist"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Config"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="config"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>